---
const technologies = [
  { name: "Hugging Face", icon: "huggingface.svg" },
  { name: "LangChain", icon: "langchain.svg" },
  { name: "FastAPI", icon: "fastapi.svg" },
  { name: "Python", icon: "python.svg" },
  { name: "PostgreSQL", icon: "postgresql.svg" },
  { name: "Git", icon: "git.svg" },
  { name: "Azure", icon: "azure.svg" },
  { name: "MongoDB", icon: "mongodb.svg" },
  { name: "Docker", icon: "docker.svg" },
];
---

<div class="relative overflow-x-hidden px-8 py-8">
  <div class="animate-scroll hover:animate-paused flex w-max gap-12 md:gap-20">
    {
      technologies.concat(technologies, technologies).map((tech) => (
        <div class="group flex items-center gap-2 transition-all duration-300">
          <img
            src={`/icons/${tech.icon}`}
            alt={tech.name}
            class="h-7 w-auto object-contain  transition-transform group-hover:scale-110"
            width="30"
            height="30"
            loading="lazy"
          />
          <span class="text-lg font-medium text-white">
            {tech.name}
          </span>
        </div>
      ))
    }
  </div>
</div>

<style is:global>
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  .animate-scroll {
    animation: scroll 60s linear infinite;
  }

  @media (min-width: 768px) {
    .animate-scroll {
      animation-duration: 80s;
    }
  }
</style>
