---
import MiFoto from "../../assets/img/MiFoto.jpg";
---

<!-- Contenedor principal -->
<div
  class="mx-auto mt-20 flex max-w-6xl flex-col items-center gap-8 px-6 lg:flex-row "
>
  <!-- Imagen -->
  <div
    class="border-primary h-64 w-64 overflow-hidden rounded-2xl shadow-lg md:h-96 md:w-96 drop-shadow-[4px_4px_0_#7836cf]"
  >
    <img
      src={MiFoto.src}
      alt="Foto de Pablo"
      class="h-full w-full object-cover"
    />
  </div>

  <!-- Texto -->
  <div class="flex-1 text-center text-gray-300 lg:text-left">
    <h2 class="text-3xl font-bold text-white">
      Mi nombre es <span class="text-white text-shadow">Pablo Cáceres</span>
    </h2>
    <p class="mt-4">
      Soy <span class="text-primary font-semibold">Data Scientist / AI Engineer</span> con más de 5 años de experiencia.
      Creo en una tecnología que nos ahorra tiempo. Herramientas de IA que conviertan horas en minutos, para poder dedicárselo a lo que más nos importa.
    </p>
    <p class="mt-2">
      Llevo poniendo esa visión en práctica en empresas como <span class="text-primary font-semibold">Telefónica, Enel X North America y la Unión Europea</span>,
      con impacto real en equipos y personas. Me especializo en el diseño y desarrollo de soluciones de <span class="text-primary font-semibold">IA Generativa, LLMs y arquitecturas Cloud</span>.
    </p>
    <p class="mt-4 font-bold text-[#69c7c7]">
      ✦ +4 Recomendaciones positivas en LinkedIn
    </p>
    <p class="mt-2">
      Siempre estoy comprometido con un <span class="text-primary font-semibold"
        >constante crecimiento</span
      > y
      <span class="text-primary font-semibold">mejora</span> en mis habilidades,
      buscando adaptarme a los nuevos
      <span class="text-primary font-semibold">avances tecnológicos</span> y superarme
      a nivel
      <span class="text-primary font-semibold">profesional</span> y <span
        class="text-primary font-semibold">personal</span
      >.
    </p>
  </div>
</div>
