---
import ServiceCard from "./ServiceCard.astro";
import { FaBrain, FaDatabase, FaServer } from "react-icons/fa"; 
---

<section class="site-container mt-14 mx-auto max-w-6xl px-4">
	<h2
		class="text-4xl font-bold flex flex-col items-center gap-6 text-center whitespace-nowrap text-white md:flex-row md:items-center md:text-end"
	>
		<span class="hidden h-1.5 grow rounded-lg drop-shadow-[2px_2px_0_#0debd8] bg-[#7836cf] md:block"></span>
		<span class="drop-shadow-[2px_2px_0_#7836cf]">Servicios</span>
	</h2>

	<div class="mt-10 grid gap-6 md:grid-cols-3">
		<ServiceCard
			icon={FaBrain}
			title="IA Generativa & RAG"
			description="Desarrollo de soluciones basadas en LLMs, sistemas RAG y agentes inteligentes para optimizar procesos de negocio."
		/>
		<ServiceCard
			icon={FaDatabase}
			title="Data Science"
			description="Análisis avanzado de datos, modelado predictivo y extracción de insights para la toma de decisiones estratégica."
		/>

		<ServiceCard
			icon={FaServer}
			title="MLOps & Infraestructura"
			description="Despliegue escalable de modelos de IA, gestión de infraestructura GPU y automatización de pipelines de datos."
		/>
	</div>
</section>
