---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/commons/hero/hero.astro";
import Banner from "../components/commons/banners/banner.astro";
import Recommendations from "../components/recommendations/Recommendations.astro";
---

<Layout title="Recomendaciones" description="Lo que dicen sobre mí">
  <Hero titulo="Recomendaciones" />
  
  <div class="mb-20">
    <Recommendations />
  </div>

  <Banner />
</Layout>
